<div class="pictureBorder"><img class="picture" src="<%= channel.picture %>"/></div>
<div class="title"><%= channel.name %></div>
<div class="description"><%= channel.description %></div>
<div class="stats">
	<ul>
		<li><span class="number"><%= channel.stats.score %></span>Guru Points</li>
		<li><span class="number"><%= channel.stats.blips %></span>Blips</li>
		<li><span class="number"><%= channel.stats.followers %></span>Followers</li>
		<li><span class="number"><%= channel.stats.following %></span>Following</li>
	</ul>
</div>
